@charset 'UTF-8';

* {
	font-family: Arial "Sans-Serif";
	font-size: 1em;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Arial;
	background-color: #00C1FF;
	text-align: center;
}

div#barFer {
	background-color: #006688;
	color: white;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	position: fixed;
	width: 100vw;
}

section {
	min-height: 86.5vh;
	max-width: 600px;
	margin: auto;
	padding: 25px 0 52px 0;
}

section div {
	margin-top: 5px;
	margin-bottom: 5px;
}

section div.recBac {
	display: block;
	text-align: left;
}

section div.envBac {
	display: block;
	text-align: right;
}

section p {
	background-color: white;
	border-radius: 0.8em;
	display: inline-block;
	font-weight: 400;
	line-height: 1.3em;
	max-width: 85%;
	padding: 10px;
}

section div.envBac p {
	background-color: #B5F2FF;
	margin-right: 10px;
}

section div.recBac p {
	margin-left: 10px;
}

input#mensagem {
	border-radius: 1.4em;
	border-style: none;
	height: 2.5em;
	text-align: center;
	margin-bottom: 15px;
	padding: 0px 13px 0px 13px;
	width: 75%;
}

input#enviar {
	background-color: white;
	border-radius: 50%;
	border-style: none;
	height: 2.5em;
	margin-left: 1.8%;
	width: 2.5em;
}

div.botoBack {
	bottom: -10px;
	position: fixed;
	width: 100%;
}

div#MensManuBack {
	background-color: #00C1FF;
	height: 100%;
	font-size: 8em;
	position: fixed;
	width: 100vw;
}

div#MensManu {
	margin-top: 20%;
}

div#MensManu>p {
	font-size: 0.2em;
}